---
export interface Props {
    id: string;
    class: string;
}

const { id, class: className } = Astro.props;
---

<!-- 
<section id=`${id}` class=`w-full h-full container absolute ${className}`>
    <div
        class="main-slot absolute w-full h-full flex justify-center items-center"
    >
        <slot />
    </div>
    <div
        class="copy-slot absolute w-full h-full flex justify-center items-center"
    >
        <slot />
    </div>
</section> -->
<div
    id=`${id}`
    class=`main-slot absolute w-full h-full flex justify-center items-center ${className}`
>
    <slot />
</div>
<div
    id=`${id}-copy`
    class=`copy-slot absolute w-full h-full flex justify-center items-center ${className}`
>
    <slot />
</div>

<style>
    @keyframes leftKf {
        45% {
            transform: translateY(-10px);
        }
        100% {
            transform: translate(-200vw, -10px) rotateX(30deg);
        }
    }

    @keyframes rightKf {
        45% {
            transform: translateY(10px);
        }
        100% {
            transform: translate(200vw, 10px) rotateX(30deg);
        }
    }

    .main-slot,
    .copy-slot {
        top: 0;
        left: 0;
        transition: 1s all;
    }

    .main-slot {
        clip-path: polygon(0 0, 100% 0%, 0% 100%);
    }

    .copy-slot {
        clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
    }

    .leave.main-slot {
        animation: leftKf 700ms linear forwards;
    }

    .leave.copy-slot {
        animation: rightKf 700ms linear forwards;
    }
</style>
